
# eclipse
/eclipse/
/bin/
/*.launch
/.settings/
/.metadata/
/.classpath
/.project

# idea
/out/
/*.ipr
/*.iws
/*.iml
/.idea/

# temporary files
/.utility

# gradle
.gradle/
**/.gradle/
**/build/
**/run/

# vscode
/.vscode

# CurseForge configuration
/curseforge.properties

# Maven configuration
/maven.properties

# Changelog backup
/changelog.bak
